# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing

old_nginx_dlg_auth.c
.project
.cproject
.idea
ngx_test.c
backup_with_stuff_of_nginx_dlg_auth.c
